/* Content */
.content {
    max-width: 1920px;
    margin: auto;
}

.green {
    background-color: #609668;
}

/* Header */
.headerSite {
    background-color: rgba(251, 61, 61, 0.799);
}

.headerInner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 200px;
}

.h1Text {
    color: white;
}

.searchField {
    height: 35px;
}

/* Pokemon Card */
.pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background-color: rgb(64, 64, 68);
    transition: transform 0.2s;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

.pokemonCard:hover {
    cursor: pointer;
}

.pokemonCard:hover {
    transform: scale(1.05);
}

.typeIcon {
    width: 40px;
}

.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.pokemonImage {
    width: 120px;
}

.pokemonName {
    margin-top: 0;
}

/* Dialog */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.dialogHeader button:hover {
    transform: scale(1.2);
}

.pokemonDialog {
    width: 600px;
    height: 650px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(180deg, #3c3f44, #2b2d31);
    padding: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.pokemonDialogInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pokemonHero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.esc-img {
    width: 30px
}

.dialogHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dialogImage {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4));
}

.pokemonMain {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    color: white;
}

.pokemonStatus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: white;
}

.pokemonEvolution {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: white;
}

.dialogPokemonName {
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    margin: 0;
}

.prevNextButtons {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.prevNextButtons button {
    background: none;
    border: none;
    cursor: pointer;
}

.prevNextButtons img {
    width: 30px;
}

/* DialogNavigation Bar */
.dialogNavBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(190, 134, 134, 0.799);
}

.navButton {
    background: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: gray;
}

.active {
    background-color: #ff5350;
    color: white;
    border-radius: 8px;
}

.naVLinkLightEffect {
    background-color: white;
}

.dialogNavBar button {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* Dialog Progress Bar */
.progressBar {
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.progressBarInner {
    background-color: #609668;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LoadMore Butoon */
.loadMoreButton {
    border: none;
    border-radius: 10px;
    background-color: orange;
    width: 150px;
    height: 30px;
    margin: 40px;
}

/* spinner */
.loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-top: 5px solid #3b4cca;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* no scroll */
.noScroll {
    overflow: hidden;
}

/* Footer */
.footerInner {
    background-color: rgba(250, 32, 32, 0.799);
    height: 70px;
}

.cardFooter {
    margin: 10px;
}

.none {
    display: none;
}

@media (max-width : 950px) {
    .pokemonContainer {
        grid-template-columns: repeat(3, 200px);
    }

    .pokemonDialog {
        padding: 10px;
    }
}

@media (max-width : 700px) {
    .pokemonContainer {
        grid-template-columns: repeat(2, 200px);
    }

    .h1Text {
        display: none;
    }

    .headerInner {
        justify-content: center;
        padding: 0;
    }
}

@media (max-width : 460px) {

    .pokemonContainer {
        grid-template-columns: repeat(1, 200px);
    }

}