/* Content */
.content {
    max-width: 1920px;
    margin: auto;
}

/* Header */
.headerInner {
    background-color: aqua;
    height: 70px;
}

/* Pokemon Card */
.pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background-color: rgb(64, 64, 68);
    transition: transform 0.2s;
}


.pokemonCard:hover {
    transform: scale(1.05);
}

.typeIcon {
    width: 40px;
}



.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.pokemonImage {
    width: 120px;
}

.pokemonName {
    margin-top: 0;
}


/* Dialog */
.pokemonDialog {
    width: 400px;
    height: 400px;
    background-color: rgb(133, 133, 136);
    border-color: white;
    border-radius: 10px;
}

.esc-img{
    width: 30px
}

.dialogHeader{
    display: flex;
    justify-content: space-between;
}
/* Footer */
.footerInner {
    background-color: aqua;
    height: 70px;
}

.cardFooter {
    margin: 10px;
}